<form class="route-manager">
  <div class="route-manager__input-wrapper">
    <label class="route-manager__label route-manager__label_start" for="start">A</label>
    <input class="route-manager__input" type="text" id="start">
    <hr class="route-manager__hr">
    <label class="route-manager__label route-manager__label_end" for="end">Б</label>
    <input class="route-manager__input" type="text" id="end">
  </div>
  <button class="route-manager__submit" (click)="onSubmit()">Построить маршрут</button>
</form>
