@import "./../../../assets/css/colors";

.route-manager {
  width: 350px;
  height: auto;

  padding: 15px 15px;

  position: absolute;
  z-index: 1000;
  top: 120px;
  right: 30px;

  border-radius: 10px;

  background-color: $white;

  &__input-wrapper {
    padding: 10px 5px 10px 10px;

    border: 2px solid $gray;
    border-radius: 10px;
  }

  &__label {
    margin-right: 5px;

    font-size: 18px;
    font-weight: bolder;

    &_start {
      color: $red;
    }

    &_end {
      color: $green;
    }
  }

  &__input {
    width: calc(100% - 50px);

    margin: 0 auto;

    border: none;
    outline: none;

    color: $black;

    &:focus {
      border: none;
    }
  }

  &__hr {
    size: 3px;

    color: $gray;
  }

  &__submit {
    display: block;

    width: 200px;
    height: 46px;

    margin: 20px auto 0 auto;

    border: none;
    border-radius: 10px;

    background-color: $green;
  }

  .btn__wrapper {
    margin-top: 10px;

    display: flex;
    justify-content: center;
  }

  .btn {
    color: $black;

    border: 2px solid $green;
    border-radius: 5px;
    background-color: $white;

    &_active {
      color: $white;
      background-color: $green;
    }
  }
}


